{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<form action='{% url "add_book" %}' method="post">
		{% csrf_token %}
		{{ form.as_p }}
	<input type="submit"/>
	</form>
</div>
	
{% endblock %}