{% extends 'base.html' %}
{% block content %}
    <h1 class='color_h1'>Do you want to delete {{ author }}?</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-success btn-lg" type="submit" value="Yes"/>
            <a href='{% url "authors_list" %}' class="btn btn-success btn-lg">No</a>
        </form>
    

{% endblock %}
