{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<h2 class="author_color">Choose the reader below:</h2>
	{% for user in user_list %}
	<ul class="list-group">		
		<li class="list-group-item hidden_li">
			<a href="{% url 'user_profile' user.pk %}">{{ user }}</a>
			<a class="right_link" href="{% url 'delete_reader' user.pk %}">Delete</a>
			<a class="right_link" href="{% url 'add_user_picture' user.pk %}">Add picture</a>		
		</li>
		<li class="list-group-item hidden_li"><a href="{% url 'user_profile' user.pk %}">{{ user.last_login }}</a></li>
	</ul>
	{% endfor %}

</div>


{% endblock %}