{% extends 'base.html' %}

{% block content %}

	<div class="container-fluid">
       <div class="row">
			<div class="col-xs-8">
				<h1 class="text-center roww radius">Books:</h1>

				<ul class="list-group">	
				{% for authors, books in books.items %}
					<li class="list-group-item radiusli">
					{{ authors }}
						<ul class="list-group">
						{% for book in books %}
							{% load staticfiles %}
							<li class="list-group-item radiusli">{{ book.name }}


								<a href="/add_like/{{ book.id }}/" class="wrapper_of_like"><img src="{% static 'static/reader/img/index.jpeg' %}" class="like" />{{ book.like }}</a></li>
							{% empty %}
							<li class="list-group-item radiusli">No books</li>
							{% endfor %}
						</ul>
					</li>
				{% empty %}
					<li class="list-group-item">No Authors</li>	
				{% endfor %}
				</ul>
			<a class="btn btn-info btn-lg" href="/add_book" role="button">Add a new book</a>		
			<a class="btn btn-info btn-lg" href="/critic/review" role="button">Do a book review</a>		
			<a class="btn btn-info btn-lg" href="/critic/see_reviews_list/" role="button">See existing reviews</a>	
			     	
			
			</div>
			<div class="col-xs-4">
				<div>
					<h1 class="text-center radius">Authors:</h1>
					
					<ul class="list-group">
						{% for author in author_name %}
							<li class="list-group-item radiusli">{{ author }}</li>		
						{% empty %}
							<li class="list-group-item radiusli">No authors</li>
						{% endfor %}

					</ul>
					<a class="btn btn-info btn-lg with_margin" href="/get_author/get_list" role="button">See all authors</a>	
					<a class="btn btn-info btn-lg with_margin" href="/get_author" role="button">Add a new author</a>
					<a class="btn btn-info btn-lg with_margin" href="/get_author/get_list" role="button">Delete author</a>
				</div>	
				<div class="wrapper_readers">
					<h1 class="text-center radius">Readers:</h1>				
					<ul class="list-group">
						{% for user in users %}
							<li class="list-group-item radiusli">{{ user }}</li>		
						{% empty %}
							<li class="list-group-item radiusli">No readers</li>
						{% endfor %}
					</ul>
				
					<a class="btn btn-info btn-lg with_margin" href="/get_readers" role="button">See all readers</a>	
					<a class="btn btn-info btn-lg with_margin" href="{% url 'register' %}" role="button">Add a new reader</a>
					<a class="btn btn-info btn-lg with_margin" href="{% url 'user_update_profile' user.pk %}" role="button">Edit reader</a>
				</div>			
			</div>
		</div>
    </div>
{% endblock %}