{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<ul class="list-group">
				<li class="list-group-item li_color">{{ author }}</li>	
				<li class="list-group-item "><img src="{{ author.profile_image.url }}" class="img_size_330"/></li>
			</ul>
			
		</div>
		<div class="col-xs-8">	
						<ul class="list-group">	
						{% for book in books_of_author %}
							<li class="list-group-item hover_li">My books:
								<ul class="list-group">
									<li class="list-group-item">{{ book.name }}
									</li>
								</ul>	
							</li>
						{% empty %}
							<li class="list-group-item">I I don't have any books yet
							</li>
						{% endfor %}
							<li class="list-group-item">
								<a href="">See reviews of this book</a>								
							</li>
						</ul>
		</div>		
	</div>			
</div>	
{% endblock %}
