{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<ul class="list-group">
				<li class="list-group-item li_color">{{ reader }}</li>	
				<li class="list-group-item "><img src="{{ reader.profile_image.url }}" class="img_size_330"/></li>
			</ul>
			
		</div>
		<div class="col-xs-8">	
						
		</div>		
	</div>			
</div>	
{% endblock %}
