{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4">
			<ul class="list-group">
				<li class="list-group-item li_color">{{ user }}</li>
				<li class="list-group-item "><img src="/media/{{ bla }}" class="img_size_330"/></li>	
				
			</ul>
	
		</div>
		<div class="col-xs-8">	
						<ul class="list-group">	
						
							<li class="list-group-item hover_li">Me:
								<ul class="list-group">
									<li class="list-group-item">{{ user.first_name }}</li>
									<li class="list-group-item">{{ user.last_name }}</li>
									<li class="list-group-item">{{ user.email }}</li>
								</ul>	
							</li>
						</ul>
						<a class="btn btn-info btn-lg with_margin" href="{% url 'user_update_profile' user.pk %}" role="button">Edit</a>
		</div>		
	</div>			
</div>	
{% endblock %}
