{% extends 'base.html' %}
{% block content %}
    <h1 class='color_h1'>Do you want to delete {{ user }}?</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-success btn-lg" type="submit" value="Yes"/>
            <a href='{% url "list_of_readers" %}' class="btn btn-success btn-lg">No</a>
        </form>
    

{% endblock %}
