{% extends 'base.html' %}
{% block content %}

	<div class="container-fluid">
		<p>	
		{{ form.errors }}
		</p>
		<form action ='{% url "review_book" %} ' method = "post">
			<div class="row">
				<div class="col-xs-6">
					{% csrf_token %}
					<h1 class="text-center radius">First, select a book</h1>
					<label for = "book_names">Book name:</label>
					<select id = "book_names" name = "book_name">
							{% for val, txt in form.fields.book_name.choices %}
								
							<option value="{{ val }}">{{ txt }}</option>
								{% endfor %}
							
					</select>
					<h1>Input heading</h1>
					<input name = "heading">
						{{ form.form.heading }}
					</input>	
						

				</div>
						<div class="col-xs-6">
							<h1 class="bg-primary text-center" >Write your review there</h1>
							
							<textarea id = "id_text"  name = "text">{{ form.form.text }}
							</textarea>
						
					<input type = "submit" value = "Send" class=" btn-info btn-sm my_button" />
					</div>	
				</form>	
			
		</div>
		<a class="btn btn-success btn-lg" href="/" role="button">Go Back</a>	
		<a class="btn btn-success btn-lg" href="/critic/see_reviews_list" role="button">See existing reviews list</a>	

	</div>		
{% endblock %}