{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	{% for review in review_list %}
		<ul class="list-group">		
		<li class="list-group-item">
			<a href="{% url 'see_one_review' review.pk %}">{{ review.book }}</a>
			
			<ul class="list-group">		
				<li class="list-group-item">{{ review.heading }}
				</li>
			</ul>
		
		</li>
	</ul>
{% endfor %}

</div>	

{% endblock %}