{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<form action='' method='POST' enctype="multipart/form-data" >
		{% csrf_token %}
		{{ form }}	
		<input type="submit">
	</form>			
</div>	
{% endblock %}
