html, body {width: 100%;
			height: 100%;
			overflow-x:hidden; 
			
}
body {background-image: url(http://antydoza.com.ua/wp-content/uploads/2012/10/%D0%91%D1%96%D0%B1%D0%BB%D1%96%D0%BE%D1%82%D0%B5%D0%BA%D0%B0.jpg);
	  background-size: cover;
}

.container-fluid {min-height: 100%;
					padding-bottom: 100px;
}

.wrapper {background-color: rgba(112, 106, 141, 0.43);
                    height: 100px;
                    margin-top: 63px;
                    margin-top: -100px;
}

.wrapper p {padding-top: 35px;
}
.right {float:right;
}

.center {width:300px;display: block;text-align: center;
         margin: 10px auto 0 auto;
}

.center p {color: antiquewhite;
}

.with_margin {margin-top: 6px;
}

.li_color {font-size: 23;
		   color: #8A7049;
}     

.author_color {color:#9E9BB9;}
.radius {border-radius:3px;
		 background-color: #337AB7;
		 color: #D7ECF5;
 }   

 .add_new_author {color: #EFC579;}

.img_size_330 {width:330px;
}

.img_size_130 {width: 80px;
               height: 94px;
}

.color_antiquewhite {color: antiquewhite;}

.wrapper_readers {margin-top: 65px;}

.radiusli {background-color: rgba(255, 255, 255, 0.92);
}
.inl_block {width: 293px;
	    display: inline-block;
}

.btn_up {margin-bottom:100px;
}

.like {width:30px;
	height:20px;
}

.wrapper_of_like {float: right;
}

.color_h1 {color: antiquewhite;
}

.right_link {float:right;
	     padding: 0 15px 0 0;	
}
 































